body{
    font: normal 95%/140% 'Georgia';
    margin-top: 2em;
    color: #333;
}

a:link, a:visited{
    color: #13786F;
}
	
a:hover{
   color: #00377A;
   text-decoration: none;
	}
	
@media only screen and (max-width: 430px) and (min-width: 0px) {

body{
    margin: 3em;
}

}